
  <form class="form-horizontal" action=<%=ruser.rsession_authentication_path%>>

    <legend>W090 用户登录</legend>

    <fieldset class="control-group"> 
        <label class="control-label" for="email">用户名或Email:</label>
      <div class="controls">
   <input id="email" name="email" type="text" />
      </div>
   </fieldset>
     <fieldset class="control-group"> 
        <label class="control-label" for="password">密码:</label>
      <div class="controls">       
       <input id="password" name="password" type="password" />
      </div>
       </fieldset>
     <fieldset class="control-group">         
        <label class="control-label"  for="remember_me">记住用户:</label>
        <div class="controls">        
             <div class="control-list">  
               <label class="checkbox">
        <input   type="checkbox" name="remember_me" id="remember_me" ></input>
        记住用户
        </label>
             </div>
          </div>
   </fieldset>
    
    <fieldset class="control-group"> 
      <div class="controls">      
        <a href="/users/pw_reset_request" style="display:inline-block;margin-left:  30px;padding: 5px;height:25px;margin-top:10px;">忘记密码</a>
        <a href="/ruser/account/new" style="display:inline-block;margin-left:  70px; padding: 5px;height:25px;margin-top:10px;">新用户注册</a>       
      </div>
  </fieldset>
        <fieldset class="control-group"> 
      <div class="form-actions">
        <input type="submit" class=" btn primary submit_button login_button" style= "width:80px" value="登  录"  />
      </div>
 </fieldset>
 

  </form>
