<!DOCTYPE html>
<html>
<head>
  <title>Ruser</title>
  <%= stylesheet_link_tag    "ruser/application", :media => "all" %>
  <%= javascript_include_tag "ruser/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
