<% if current_user_login? %>
<ul class="nav secondary-nav" id="userbar">
  <%
   # unread_count = current_user.notifications.unread.count
   # notification_class = ["notifications"]
   # notification_class << "unread" if unread_count > 0
   # notification_class << "active" if ["notifications"].index(params[:controller])
  %>
   <%#= content_tag 'li', :class => notification_class do %>
    <%#= content_tag 'a', :href => ruser.notifications_path do %>
      <span class="count"><%#= unread_count %></span>
    <% #end %>
  <%# end %>

  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%=session[:user_name]%> <b class="caret"></b></a>
    <%= render_list :class => "dropdown-menu" do |li|
    
        li << link_to("我的资料" ,ruser.account_show_path(session[:user_id]))
        li << link_to("登出", ruser.rsession_destroy_path)
    end %>
  </li>

  <%if session[:user_name] == "admin"%>
    <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">网站管理<b class="caret"></b></a>
    <%= render_list :class => "dropdown-menu" do |li|
      li << link_to("用户列表", ruser.radmin_user_list_path )      
      li << link_to("总控表", ruser.radmin_dashboard_path )
    end %>
  </li>
  <%end%>


</ul>
<% else %>
  <%= render_list :class => "nav secondary-nav", :id => "userbar" do |li|
    li << link_to( t("user.register"),ruser.account_new_path)
    li << link_to( t("user.login"), ruser.rsession_new_path )
 end %> 

<% end %>